# Data Processing
pandas
numpy
scikit-learn
pyarrow

# Data Validation
pandera

# Modeling
torch
torchvision

# MLOps & Tracking
mlflow>=2.0.0
dvc

# Serving (나중에 쓸 것)
fastapi
uvicorn
python-multipart

# Utilities
pyyaml
joblib
matplotlib
seaborn